<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Users</title>
  </head>
  <body>
    <h1><%= profession%> Users!</h1>
    <ul>
      <% for(let user of users) { %>
      <li><a href="/users/<%=user._id%>"><%= user.name %></a></li>
      <% }%>
    </ul>
    <a href="/users/new">New User</a>
    <%if(profession !== 'All') {%>
    <a href="/users">All Users</a>
    <% } %>
  </body>
</html>
