<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New User</title>
  </head>
  <body>
    <h1>Add A User</h1>
    <form action="/users" method="post">
      <label for="name">User name</label>
      <input type="text" name="name" id="name" placeholder="name" />
      <label for="image">Image URL</label>
      <input type="text" id="image" name="image" placeholder="Image URL" />
      <label for="profession">Select Profession</label>
      <select name="profession" id="profession">
        <% for(let profession of professions){ %>
        <option value="<%=profession%>"><%=profession%></option>
        <% } %>
      </select>
      <button>Submit</button>
    </form>
  </body>
</html>
